.containers {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    margin-top: 5%;
    font-family: sans-serif;
    background-color: #f0f0f0;
  }
  
  .top-container {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 20px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 0.7em;
    width: 60%;
  }
  
  .top-container p {
    margin: 10px 0; 
    color: gray;
    display: flex; 
    align-items: center; 
  }
  
  .top-container h1 {
    font-size: 2rem;
    letter-spacing:0.2rem ;
    margin-left: 15px;
  }
  
  .top-container img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .bottom-container {
    border: 2px solid rgba(0, 0, 0, 0); 
    padding: 20px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 0.7em;
    width: 60%;
    margin-top: 30px;
  }
  
  .bottom-container h1 {
    font-size: 2rem;
    letter-spacing:0.2rem ;
    word-spacing: 0.1rem;
    margin-left: 15px;
    font-family: sans-serif;
  
  }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .Date {
    flex-wrap: wrap;
    margin-right: 40px;
    margin-bottom: 20px;
    
  }
  
  #Date{
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 10px;
    height: 3rem;
  }
  
  .card input {
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 10px;
    width: 42rem;
    height: 3.5rem;
  }
  
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 1rem;
  }
  
  
  .last-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  #la {
    color: #02D693; 
  }
  
  .btn{
    height: 5rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
  }
  
  .bttn{
    width: 40rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
  }