.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;
  }
  
  .bag-container {
      display: flex;
      text-align: right;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 350px;
      background-color: #EAEAEA;
      font-family: 'Roboto', sans-serif;
      
    }
    
    .cart-item {
      width: calc(30% - 10px);
      margin: 0.5px;
      text-align: center;
      background-color: white;
      border-radius: 10%;
      margin-bottom: 2rem;
      
    }
  
    .cart{
      margin-right: 1.5rem;
    }
  
    .bag-title{
      text-align: center;
    }
  
    .bag-items-container{
      display: flex;
      justify-content: center;
      align-items: right;
      min-height: 100vh;
      /* margin: 0;  */
      overflow: auto;
      margin-right: '5px'
   }
  
   .bag-items-list{
      list-style: none;
      width: 100%;
      align-items: center;
      
   }
  
   .bag-item{
      background-color: white;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 15rem;
      display: flex;
      justify-content: space-around;
      border-radius: 11px 11px;
   }
   